body {
    margin: 5px;
    display: flex;
    flex-direction: column;
    background-color: #bdbdbd;
}

h1 {
    margin: auto;
}

div {
    margin: 1em auto auto;
}

.log-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

}

.log-form-container {
    display: block;
    align-items: center;
}

.home-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
