<html>
<head>
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>
{{> nav-bar}}
<div class="body-content row flex-xl-nowrap">
    <div class="flex-column flex-fill">

    </div>
    <div class="right-bar flex-column col">
        <div class="body">{{{body}}}</div>
    </div>
</div>
</body>
</html>
